/*header*/
.header{
  height:50vh;
  font-family: fantasy;
  color: #fcfcfc;
  /*background-color: rgba(56, 75, 160,0.5);*/
  background-image: url(../img/rsz_font.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*menu*/
/*clearfix*/
.clear-fix{
  padding: 5px;
}
.links a{
  color: red;
  font-size: 115%;
}
